.photo-grid {
  box-sizing: border-box;
  width: 100%;
  padding: 92px 48px 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px 0;
    gap: 16px;
  }
}

@media (max-width: 648px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    gap: 12px;
  }
}
