.into__content {
  max-width: 690px;
  margin: 0 48px;
}

@media (max-width: 1024px) {
  .into__content {
    margin: 48px;
  }
}

@media (max-width: 768px) {
  .into__content {
    margin: 0 24px;
  }
}

@media (max-width: 648px) {
  .into__content {
    margin: 0 16px;
  }
}
