.lead__title {
  max-width: 720px;
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: white;
}

@media (max-width: 712px) {
  .lead__title {
    max-width: 472px;
    font-size: 56px;
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  .lead__title {
    max-width: 338px;
    font-size: 40px;
    line-height: 44px;
  }
}
