.places__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
}

@media (max-width: 648px) {
  .places__list {
    row-gap: 50px;
  }
}
