.header__choose-language {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  transition: opacity 0.3s ease-in-out 0.1s;
}

.header__choose-language:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .header__choose-language {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 320px) {
  .header__choose-language {
    font-size: 18px;
    line-height: 20px;
  }
}
