.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 18px;
}

@media (max-width: 712px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}
