.into {
  /* padding-top: 92px; */
  box-sizing: border-box;
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  padding: 92px 0 0;
}

@media (max-width: 1024px) {
  .into {
    padding-top: 88px;
  }
}

@media (max-width: 768px) {
  .into {
    padding-top: calc(64px + (24 + 24 * 0.7) * ((100vw - 320px) / 768));
  }
}

@media (max-width: 320px) {
  .into {
    padding-top: 64px;
  }
}
