.into {
  box-sizing: border-box;
  width: 100%;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  padding: 92px 0 0;
}

@media (max-width: 1024px) {
  .into {
    padding-top: 88px;
  }
}

@media (max-width: 768px) {
  .into {
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .into {
    padding-top: 64px;
  }
}
