.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
}

@media (max-width: 712px) {
  .lead__subtitle {
    max-width: 472px;
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 500px) {
  .lead__subtitle {
    max-width: 338px;
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}
