.cover__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 44, 47, 0.3);
  text-decoration: none;
  color: white;
  transition: background-color ease-in-out 0.4s;
}

.cover__wrapper:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
