.lead__caption {
  margin-top: 8px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .lead__caption {
    margin-left: 24px;
  }
}

/* @media (max-width: 768px) {
  .lead__caption {
    margin-left: calc(16px + (6 + 6 * 0.7) * ((100vw - 320px) / 768));
  }
} */

@media (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
