.cover__title {
  max-width: 560px;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
}

@media (max-width: 648px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
  }
}
